# dependencies
node_modules/
*.pnp
*.pnp.js

# testing
coverage/

# production
build/

# misc
.env
*.DS_Store
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# logs
*.log

# python
.venv/
__pycache__/

# ide
.idea/
.vscode/

# firebase
.firebase/
