.jumbotron {
    margin-top: 6.5%;
    box-shadow: none;
    background-color: transparent;
}

.landing-btn {
    display: inline-block;
    background-color: #333;
    color: white;
    margin: 5px 10px;
    border-radius: 5px;
    min-width: 100px;
    box-shadow: 2px 2px 2px 0 rgb(83 83 83 / 47%);
}

.landing-btn.secondary {
    background-color: transparent;
    border: 1px solid rgba(51, 51, 51, 0.39);
    color: #333;
}

.landing-btn:hover {
    background-color: rgb(66, 66, 66);
    color: white;
}

.landing-btn.secondary:hover {
    background-color: rgb(250, 250, 250);
    color: #333;
}
