@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-color {
    background-color: #ffffff !important;
    color: black;
}

.primary-color:hover {
    background-color: #ffffff !important;
    color: black;
}
