.navbar-custom {
    padding: 1% 10%;
    box-shadow: none;
}

.navbar-brand {
    color: black !important;
}

.nav-item-custom {
    margin-right: 5%;
}

.nav-item-text {
    color: black !important;
}

.navbar-toggler-custom {
    color: black !important;
    background-color: black;
}
